

body::-webkit-scrollbar {
  width: 0.75rem;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #FD0054;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  /* color of the scroll thumb */
  border-radius: 1.25rem;
  /* roundness of the scroll thumb */
  border: 0.125rem solid black;
  /* creates padding around scroll thumb */
}
